* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FDFDFD;
  color: #333;
  line-height: 22.5px; /* for p */
}

form {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 11px;
  border-radius: 5px;
  margin-bottom: 82px;
}

/* invisible but still present for screen readers */
label {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 45px;
}

li div img {
  height: 90px;
  margin-bottom: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.125rem;
  color: #222;
  margin-bottom: 13px;
}

section {
  width: 960px;
  margin: auto;
  position: relative; /* so that later content can stack on top of demo div with phone background */
}

section::after, ul::after {
  display: block;
  content: "";
  clear: both;
}

footer p {
  font-size: 0.8125rem;
  color: rgba(51, 51, 51, 0.5);
}

body > footer {
  margin-bottom: 14px;
}

body > footer p {
  padding-bottom: 1px;
  text-align: center;
  line-height: 38px;
  font-size: inherit;
}

footer a:hover {
  color: rgba(51, 51, 51, 0.4);
  text-decoration: underline;
}

#full-container {
  background-image: linear-gradient(white, white 86.5%, #F9F9F9);
}

/* MAIN PAGE */

#main-page {
  height: 920px;
  margin-bottom: 105px;
}

#main-page-background {
  position: absolute;
  background-image: linear-gradient(70deg, #C3299C, #C3292C);
  height: 920px;
  top: 0;
  left: 0;
  right: 0;
}

#main-page div {
  vertical-align: top;
}

#demo {
  position: absolute; /* stop it from pushing intro down to next row */
  left: -50px;
  top: 70px;
  background-image: url(" http://touchstonejs.io/images/iphone6-white.png");
  height: 950px;
  width: 532px;
  background-size: 532px;
}

#screen {
  position: absolute;
  left: 28px;
  top: 176px;
  width: 375px;
  height: 667px;
  background-color: black;
  border: 3px solid #222;
  border-radius: 4px;
}

#intro {
  float: right;
  width: 477px;
  padding-top: 178px;
}

#intro > * {
  text-align: left;
  color: white;
}

#intro h1 {
  margin-bottom: 29px;
}

#intro h2 {
  line-height: 26px;
  font-size: 1.25rem;
  padding-right: 100px;
  margin-bottom: 20px;
}

#intro p {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}

#intro > p:last-of-type {
  margin-bottom: 20px;
}

#intro input {
  border: none;
  border-radius: 3px;
  height: 50px;
  font-family: inherit;
  font-weight: 100;
  font-size: 1rem;
}

#intro input[type="email"] {
  padding-left: 13px;
  width: 346px;
  margin-right: 5px;
}

#intro input[type="submit"] {
  padding-left: 12px;
  padding-right: 13px;
  text-align: center;
  background-color: #F3F3F3;
  color: #333;
}

#intro li {
  margin-bottom: 23px;
}

#intro li img {
  margin-right: 15px;
}

#intro li * {
  vertical-align: middle;
}

#intro ul {
  margin-bottom: 163px;
}

#logo {
  width: 80px;
  margin-bottom: 24px;
}

.share-icon {
  width: 24px;
}

/* CODE */

.terminal-container {
  width: 796px;
  margin: auto;
}

/* TODO using pre has messed up line height somehow */
pre {
  overflow-x: auto;
  font-size: 1rem;
  margin-bottom: 28px;
  background-color: #333;
  border-radius: 4px;
}

.code-wrapper {
  background-color: #F3F3F3;
  border: 1px solid #DDD;
  border-radius: 0.3em;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  margin-right: 29px;
}

code {
  vertical-align: center;
  font-family: monospace;
  line-height: 16pt;
}

/* NORMAL SECTIONS */

.normal li {
  display: inline;
  width: 25%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.normal ul {
  text-align: center; /* works because li are inline */
  padding-top: 19px;
  margin-bottom: 4px;
}

.normal {
  border-bottom: 1px solid #EEE;
  padding-bottom: 72px;
  margin-bottom: 64px;
}

.normal li p {
  line-height: 23px;
}

/* REFERENCES AND EXAMPLES SECTION */

.example {
  width: 30%;
}

#refs {
  padding-top: 1px;
  padding-bottom: 110px;
  border: none;
  margin-bottom: 26px;
}

#refs h1 {
  margin-bottom: 46px;
}

#refs img {
  width: 60px;
  height: 60px;
}

#refs img.example {
  width: 100%;
  height: 482px;
}

#refs li {
  padding-left: 30px;
  padding-right: 30px;
}

#refs h2 {
  margin-bottom: 8px;
}

#refs p {
  line-height: 23.4px;
  margin-bottom: 19px;
}

#refs li {
  width: 33%;
}

.button {
  border: 1px solid #71B5EF;
  border-radius: 4px;
  color: #1385E5;
  padding: 3px 12px 2px 12px;
  font-size: 0.75rem;
  margin: auto;
  margin-bottom: 60px;
  display: inline-block;
}

.button:hover {
  background-color: rgba(113, 181, 239, .1);
  border-color: #1385E5;
}
