<h1>Sign up</h1>
<p>Hello!</p>
<form accept-charset="UTF-8" action="create" method="post">
  <input type="hidden" name="authenticity_token" value="">
  <input id="username" name="user[username]" type="text"/>
  <label for "username">Enter a username.</label>
  <input id="email" name="user[email]" type="email"/>
  <label for "email">Enter your email address.</label>
  <input id="password" name="user[password]" type="password"/>
  <label for "username">Enter a password.</label>
  <input name="create" type="submit" value="Create"/>
  <label for "create">Create user.</label>
</form>
