<h1><%= render @user %>'s Profile</h1>

<h2>Events you have created:</h2>
<ol class="created-events">
  <%= render @created_events %>
</ol>

<h2>Events you have been invited to:</h2>
<ol class="invited-events">
  <h3>Upcoming </h3>
  <ol class="upcoming-events">
    <%= render @upcoming_events %>
  </ol>
  <h3>Past </h3>
  <ol class="past-events">
    <%= render @past_events %>
  </ol>
</ol>
