* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#calculator {
  margin: auto;
  width: 40vw;
  height: 50vw;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

#screen, .key {
  height: 20%;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 4vw;
  text-align: right;
  padding: 0 1vw;
}

span {
  line-height: 8vw;
}

#screen {
  background-color: whitesmoke;
  overflow-x: auto;
  overflow-y: hidden;
}

#display {
  margin: 0 auto;
}

.key {
  display: inline-block;
  width: 25%;
  background-color: lightgray;
}

#CLR {
  padding: 0;
  text-align: center;
}

.key:focus {
  background-color: whitesmoke;
}
