<%= form_for(current_user.likings.build) do |f| %>
  <div><%= hidden_field_tag :post_id, post.id %></div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit "Like this post", class: "btn" %>
<% end %>
