@import url("reset.css");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

/* Temporary styles to distinguish elements */
footer, header {
  background-color: silver;
  border: 2px solid gray;
  height: 20px;
}

nav {
  background-color: gray;
  border: 2px solid black;
  height: 20px;
}

section {
  background-color: blue;
  border: 2px solid darkblue;
}

aside {
  background-color: blue;
  border: 2px solid darkblue;
}

.grid {
  background-color: green;
  border: 2px solid darkgreen;
}

video {
  background-color: black;
  border: 2px solid gray;
}

.comment, .video-thumbnail {
  background-color: darkorchid;
  border: 2px solid purple;
}

.comment {
  height: 20px;
}

.comments {
  height: 20px;
}

.up-next {
  background-color: brown;
  border: 2px solid maroon;
}

.wide-column {
  background-color: red;
  border: 2px solid darkred;
}


/* SHARED ELELENTS */

.footer {
}

.header {
}

/* MAJOR ELEMENTS */

.grid {
  width: 1070px; /* TODO cut on removing borders */
  margin: 0 auto;
  padding: 5px;
  position: relative;
  top: 45px;
  width: 100%;
  min-width: 800; /* TODO cut on removing borders. For now, 1007 though. */
  max-width: 1070px; /* TODO cut on removing borders. For now, 1070 though. */
}

.main-header {
  position: fixed;
  width: 100%; /* needed because position: fixed makes width default to being set by content */
  height: 45px;
  z-index: 1000;
}

.main-footer {
  width: 100%;
}

aside, .wide-column {
  display: inline-block;
  height: 100%;
  padding: 5px;
}

@media (max-width: 1000px) {
  aside {
    position: relative;
    left: 0px;
    width: 426px;
  }
}

@media (min-width: 1001px) {
  aside {
    position: absolute;
    right: 5px;
    left: 660px;
    width: unset;
    min-width: 300px;
    max-width: 400px;
  }
}

/* SUB-ELEMENTS */

/* Header/footer */

nav {
}

/* Main section */

video {
  width: 640px;
  height: 360px;
}

.video-info {
  height: 20px;
}

.blurb {
  height: 20px;
}

.comments {
}

.comment {
}

/* Sidebar */

.video-thumbnail {
  height: 83px;
  margin-bottom: 15px;
}

.up-next {
}
