<h2>We have some secrets to tell you!</h2>
<hr>
<%@posts.each do |post|%>
  <p><%= post.text %></p>
    <ul>
    <li>
      <% if logged_in? %>
        <%= post.user.name %>
      <% else %>
        <%= "Anonymous" %>
      <% end %>
     </li>
     </ul>
     <hr>
<% end %>
